body {
    font-family: Arial, sans-serif;
    text-align: center;
}

input {
    margin: 5px;
    padding: 10px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: white;
    border: none;
}

button:hover {
    background-color: #45a049;
}
