 /* Centralizando tudo como uma folha A4 */
 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

/* Criando um container centralizado parecido com A4 */
.container {
    width: 794px; /* Largura padrão de uma folha A4 */
    height: auto; /* Altura ajustável */
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

/* Estilizando o formulário e a tabela */
.form-container {
    margin-bottom: 20px;
    display: none; /* Formulários ocultos por padrão */
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

button:hover {
    background-color: #0056b3;
}

h1, h2 {
    text-align: center;
}