<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site Senac</title>
    <link rel="icon" type="image/x-icon" href="/app/assets/favicom.PNG">
    <link rel="stylesheet" href="sty.css">
</head>
<body>
    <main>

        
        <header>
            <nav>
                <div class="navbar">
                    <ul>
                        <li><a href="olamundo.html">Galeria</a></li>
                    </ul>
                    <img src="/app/assets/jmrx.PNG" alt="Ícone de Navegação" class="nav-icon"> 
                </div>
            </nav>
        </header>

        
        <aside class="barralateral">
            <img src="/app/assets/Capturar.PNG" alt="Logo" class="logo"> 
            <ul>
                <li><a href="olamundo.html">Sistemas</a></li>
                <li><a href="olamundo.html">Aplicativos Web</a></li>
                <li><a href="olamundo.html">Consultoria</a></li>
                <li><a href="olamundo.html">Suporte Técnico</a></li>
            </ul>
        </aside>

        
        <div class="conteudo">
            <div class="main-content">
                <h1>Contate:</h1>
                <p><a href="https://wa.me/67984660285" target="_blank">WhatsApp</a></p>
            </div>

            <div class="main-content">
                <h1>Galeria</h1>
                <div class="imagens-projetos">
                    <img src="/app/assets/prototipo/-1.PNG">
                    <img src="/app/assets/prototipo/-2.PNG">
                    <img src="/app/assets/prototipo/-3.PNG">
                    <img src="/app/assets/prototipo/-4.PNG">
                    <img src="/app/assets/prototipo/-5.PNG">
                    <img src="/app/assets/prototipo/-6.PNG">
                    <img src="/app/assets/prototipo/-7.PNG">
                    <img src="/app/assets/prototipo/-8.PNG">
                    <img src="/app/assets/prototipo/-9.PNG">
                    <img src="/app/assets/prototipo/-1.PNG">
                    <img src="/app/assets/prototipo/-2.PNG">
                    <img src="/app/assets/prototipo/-3.PNG">
                    <img src="/app/assets/prototipo/-4.PNG">
                    <img src="/app/assets/prototipo/-5.PNG">
                    <img src="/app/assets/prototipo/-6.PNG">
                    <img src="/app/assets/prototipo/-7.PNG">
                    <img src="/app/assets/prototipo/-8.PNG">
                    <img src="/app/assets/prototipo/-9.PNG">
                    <img src="/app/assets/prototipo/-1.PNG">
                    <img src="/app/assets/prototipo/-2.PNG">
                    <img src="/app/assets/prototipo/-3.PNG">
                    <img src="/app/assets/prototipo/-4.PNG">
                    <img src="/app/assets/prototipo/-5.PNG">
                    <img src="/app/assets/prototipo/-6.PNG">
                    <img src="/app/assets/prototipo/-7.PNG">
                    <img src="/app/assets/prototipo/-8.PNG">
                    <img src="/app/assets/prototipo/-9.PNG">
                    
                </div>
            </div>
        </div>

        
        <footer>
            <p>&copy; 2025 Xavier-sa . Todos os direitos reservados.</p>
        </footer>

    </main>
</body>
</html>
