<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Profissional de Xavier</title>
    <link rel="icon" href="../img/image.png" type="image/png">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div>
    <div class="container">
        <img class="profile-img" alt="Imagem de Perfil" />
        <h2></h2>
        <p></p>
     
    </div>

    <div>
    <h2 class="education">Formação Acadêmica</h2>
    <ul id="lista-formacao"></ul>
    </div>

    <div>
    <h2>Projetos</h2>
    <ul id="lista-projetos"></ul>
   </div>
</div>
    <script type="module" src="../js/main.js"></script>

</body>
</html>
