/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do corpo e fundo */
body {
    font-family: Arial, sans-serif;
    display: flex;
}

/* Menu Lateral */
.barralateral {
    width: 250px;
    background-color: #333; /* Cor escura */
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    text-align: center;
 }
  .barralateral .logo {
                    width: 30%;
                    margin-bottom: 20px;
                }

                .ul {
                    list-style: none;
                    padding: 0;
                }

                .ul li {
                    margin: 15px 0;
                }

                .ul li a {
                    text-decoration: none;
                    color: white;
                    font-size: 18px;
                
                    padding: 10px 0;
                   
                }

                .ul li a:hover {
                    background-color: #444;
                }
            

/* Conteúdo Principal */
.conteudo {
    margin-left: 250px; /* Deixa espaço para o menu lateral */
    width: 100%;
    padding: 20px;
}

/* Barra de Navegação */
.navbar {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: end;
}

.navbar .nav-icon {
    width: 40px;
    height: 40px;
}

/* Conteúdo em branco */
.main-content {
    background-color: #f9f9f9;
    min-height: 300px;
    padding: 20px;
    margin-top: 20px;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}


.h1{
    margin-top: 20%;
}




@media (max-width: 768px) {
    .barralateral {
        width: 0;
        padding: 0;
        text-align: left;
    }

    .conteudo {
        margin-left: 0;
    }

    /* Para a logo ficar maior em telas menores */
    .barralateral .logo {
        width: 50%;
    }

    .ul li a {
        font-size: 16px; /* Ajuste de tamanho de fonte */
    }

    /* Ajuste no conteúdo principal */
    .main-content {
        padding: 10px;
    }

    /* Rodapé */
    footer {
        padding: 10px 0;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .barralateral {
        width: 200px;
    }

    .conteudo {
        margin-left: 200px;
    }
}


@media (min-width: 1024px) {
    .barralateral {
        width: 250px;
    }

    .conteudo {
        margin-left: 250px;
    }
}


.h1 {
    margin-top: 20%;
}